.advantages {
  @include section;
  padding-bottom: 0;

  &__container {
    @include container;
  }

  &__item:not(:first-child) {
    margin-left: 30px;
  }

  &__logo {
    background-color: #f5f4fa;
    width: 270px;
    height: 120px;

    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--second-title-color);

    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-text-color);
  }
}
